<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        *{
            margin: 0;
        }
        table{
            border: 1px solid red;
            padding: 1px;
            text-align: center;
        }
        .container{
            align-items: center;
            text-shadow: 20px 20px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <table border="1">
            <tr>
                <th>Question</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
            {{#each user}}
                <tr>
                    <td>{{ques}} </td>
                    <td>{{email}}</td>
                    <td>{{Mess}}</td>
                    {{!-- <td><button>Xóa</button></td> --}}
                </tr>
            {{/each}}
        </table>
    </div>
</body>
</html>