<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thank you</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
	<style>
		*{
			margin: 0;
		}
		body{
			width: 100%;
			height: 100vh;
			font-size: 20px;
			background-color: rgb(187, 187, 245);
		}
		.tirtle{
			margin: 10px;
			text-align: center;
			font-family: sans-serif;
			color: white;
		}
		img{
			width: 341px;
			height: 192px;
		}
		.image{
			display: block;
			text-align: center;
			font-size: 14px;
		}
		.src{
			margin:10px;
		}
		.container{
			margin-left: 10px;
		}
		a{
			margin-top: 10px;
			color: white;
			text-decoration: none;
		}
		a .fa{
			font-size: large;
			margin-left: 5px;
		}
		p{
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="tirtle"><p><h1>Cảm ơn bạn đã ghé thăm trang web</h1></p></div>
	
	<div class="image">
		<img src="C:\Users\hp\Videos\Captures\(2) 【初音ミク】グリーンライツ・セレナーデ _ Greenlights Serenade【オリジナルMV】 - YouTube - Google Chrome 5_24_2021 11_28_03 AM.png" alt="Lỗi Ảnh">
		<p class="src">Nguồn từ Hatsune Miku-Magical Mirai 2018</p>
		<p>Ảnh đại diện</p>
		<br>
	</div>
	<div class="container">
		<p>Câu trả lời cho câu hỏi của bạn sẽ được tôi gửi về email của bạn sau một khoảng thời gian ngắn</p>
		<p class="attention">(Lưu ý: Email của bạn gửi phải là email của bạn!!!)</p>
		<a href="/">Back to Home<i class="fa fa-arrow-right"></i><i class="fa fa-home"></i></a>
	</div>
</body>
</html>