<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Introduction</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
	{{!-- <link rel="stylesheet" href="style.css"> --}}
	<style>
		*{
			margin: 0;
			/* padding: 0; */
		}
		img{
			width: 341px;
			height: 192px;
		}
		.image{
			display: block;
			text-align: center;
			font-size: 14px;
		}
		.menu{
			text-align: center;
			font-family: sans-serif;
			color:white ;
			margin: 10px;
		}
		body{
			font-size: 20px;
			background-color:rgb(187, 187, 245);
		}
		button{
			
			width: 60px;
			border:2px solid white;
			border-radius: 0;
			outline: none;
			background:transparent;
			color :white;
			font-family: sans-serif;
			cursor: pointer;
		}
		button:hover{
			border:2px solid rgb(36, 35, 35);
			background-color: yellowgreen;
			color: black;
		}
		.list {
			font-weight: bold;
			color: oldlace;
			font-size: 25px;
		}
		.email{
			height: 20px;
			/* border-radius: 5px; */
			outline: none;
			background: transparent;
			border: 1px solid white;
			margin-bottom: 10px;
			margin-left: 20px;
		}
		label{
			font-weight: bold;
			color: oldlace;
		}
		::placeholder{
			color: white;
			padding-left:2px ;
		}
		.inp{
			height: 20px;
			outline: none;
			background: transparent;
			border: 1px solid white;
			margin-top: 10px;
			margin-left: 5px;
			margin-bottom: 10px;
		}
		.container{
			margin-left: 10px;
			margin-bottom: 10px;
		}
		.src{
			margin:10px;
		}
		.Mess{
			background: transparent;
			outline: none;
			border: 1px solid white;
		}
		footer{
			margin-left: 10px;
			margin-bottom: 10px;
			text-align: center;
			font-family: sans-serif;
			font-weight: bold;
			color: whitesmoke;
		}
		.error{
			font-weight: bold;
			font-family: sans-serif;
			display: block;
			color: red;
			margin-top: 10px ;
			/*margin-bottom: 10px;*/
		}
		nav{
			width: 100%;
			display: flex;
			font-family: sans-serif;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.nav-links{
			flex: 1;
			text-align: left;
			border-top: 4px solid white;
			border-bottom: 4px solid white;
			margin-left: 7px;
			margin-right: 7px;
		}
		.nav-links ul{
			width: 100%;
			padding-left: 0;
		}
		.nav-links ul li{
			width: 22%;
			list-style: none;
			display: inline-block;
			padding: 8px 12px;
			position: relative;
			text-align: center;
			font-size: 25px;
		}
		.nav-links ul li::after{
			content: '';
			width: 0%;
			height: 2px;
			background-color: wheat;
			display: block;
			margin: auto;
			transition: 0.5s;
		}
		.nav-links ul li:hover::after{
			width: 100%;
		}
		.nav-links ul li a{
			color: white;
			text-decoration: none;
		}
		.span-links{
			color: white;
			font-size: 18px;
		}
		span .fa{
			display: none;
		}
		nav .fa{
			display: none;
		}
		@media(max-width: 1218px){
			.nav-links{
				position: absolute;
				border-top: 0;
				border-bottom: 0;
				background-color: whitesmoke;
				height: 100vh;
				width: 200px;
				top: 0;
				left: -200px;
				text-align: left;
				z-index: 2;
				margin-left: 0;
				transition: 0.5s;
			}
			.nav-links ul li{
				width: 22%;
				list-style: none;
				display: block;
				padding: 8px 12px;
				position: relative;
				text-align: center;
				font-size: 20px;

			}
			.nav-links ul li a{
				color: rgb(187, 187, 245);;
			}
			.span-links{
				display: none;
			}
			nav .fa{
				display: block;
				color: black;
				margin: 10px;
				font-size: 20px;
				
			}
			span .fa{
				display: block;
				color: white;
				margin-left: 10px;
				margin-top: 10px;
				font-size: 25px;
				
			}
			.nav-links ul{

			}
		}
	</style>
</head>
<body>
	<span><i class="fa fa-bars" onclick="ShowMenu()"></i></span>
	<div class="menu"><p><h2>Chào mừng bạn đã đến với trang web của tui</h2></p></div>
	<nav>
		<div class="nav-links" id="navLinks">
			<i class="fa fa-times" onclick="HidenMenu()"></i>
			<ul>
				<li><a href="/">Home</a></li>
				<span class="span-links">|</span>
				<li><a href="/app">App</a></li>
				<span class="span-links">|</span>
				<li><a href="/eng">English</a></li>
				<span class="span-links">|</span>
				<li><a href="/ad-login">Admin</a></li>
			</ul>
		</div>
		
	</nav>
	<div class="image">
		<img src="C:\Users\hp\Videos\Captures\(2) 【初音ミク】グリーンライツ・セレナーデ _ Greenlights Serenade【オリジナルMV】 - YouTube - Google Chrome 5_24_2021 11_28_03 AM.png" alt="Lỗi Ảnh">
		<p class="src">Nguồn từ Hatsune Miku-Magical Mirai 2018</p>
		<p>Ảnh đại diện</p>
		<br>
	</div>
	<div class="container">
		<div>
			<p>Tên tui là Stephanie George</p>
		</div>
		<div>
			<p class="list">Sở thích cá nhân thường ngày:</p>
			<ul>
				<li>Hack web của người ta</li>
				<li>Chơi game tc (tự hiểu game tc là gì nha)</li>
				<li>Chăm chút trang web của mình</li>
				<li>Lập trình game mà đéo cho ai chơi</li>
			</ul>
		</div>
		<div>
			<p class="list">Vị trí hiện tại:</p>
			<ul>
				<li>Nhà bạn</li>
				<li>Nhà trắng</li>
				<li><h5>Nhà ny (Không phải người yêu nha)</h5></li>
			</ul>
		</div>
		<div>
			<label >Facbook:</label>
			<a href="https://www.facebook.com/hoang.nguyenle.52687506?comment_id=Y29tbWVudDoxODcxOTcxODU5NjUyODE2XzE4NzI2MzU3MTI5MTk3NjQ%3D" target="_blank" rel="noopener noreferrer">Stephanie George</a>
			<p><label>Gmail:</label> ntthuy.c2qsyd@bacgiang.edu.vn</p>
			<p><label>Số điện thoại:</label> 0915 159 911</p>
		</div>
		{{#if error}}
			<p class="error"> {{error}} </p>
		{{/if}}
		<form action="/" method="post">
			<label>Câu hỏi của bạn: </label>
			<input class="inp" id="ques" name="ques" type="text" placeholder="Câu hỏi của bạn">
			<br>
			<label>Email của bạn:</label>
			<input class="email" name="email" type="email" name="email" id="email" placeholder="Nhập email của bạn">
			<p>(Nhập email để nhận được câu trả lời)</p>
			<br>
			<label for="Mess">Nhận xét của bạn về trang web</label>
			<textarea class="Mess" name="Mess" cols="30" rows="10"placeholder="Nhận xét"></textarea>
			<button>Gửi</button>
		</form>
	</div>
	<footer>
		<p>BYE</p>
		<p>See you then!</p>
	</footer>
	<script>

		const navLinks = document.getElementById('navLinks')

		function HidenMenu(){
			navLinks.style.left = '-200px'
		}

		function ShowMenu(){
			navLinks.style.left = '0'
		}

	</script>
</body>
</html>